<div class="grid content-start ">
  <div class="mt-8 flex justify-end">
    <mat-form-field class="!bg-white">
      <mat-label>Search</mat-label>
      <input [(ngModel)]="searchString" (search)="search(0)" (keyup)="search(2000)" matInput type="search">
      <button matSuffix mat-icon-button>
        <mat-icon>
          search
        </mat-icon>
      </button>
    </mat-form-field>

  </div>
  <div>
    <ng-container *ngIf="!(tableElements$ | async)" class="content-center">
      <div class="flex justify-center">
        <mat-spinner></mat-spinner>
      </div>
    </ng-container>
    <table
      *ngIf="tableElements$ | async as tableElements"
      #dataTable
      mat-table
      [dataSource]="tableElements"
      class="!bg-white !text-black overflow-y-auto"

    >
<!--      Number, Name, Weight, Symbol-->
      <ng-container matColumnDef="number" class="!border-r-2 !border-black">
        <th mat-header-cell *matHeaderCellDef>Number</th>
        <td (click)="openDialog(element,'position')" class="!text-left" mat-cell *matCellDef="let element">{{element.position}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td (click)="openDialog(element,'name')" class="!text-center" mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>

      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef>Weight</th>
        <td (click)="openDialog(element,'weight')" class="!text-right" mat-cell *matCellDef="let element">{{element.weight}}</td>
      </ng-container>

      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef>Symbol</th>
        <td (click)="openDialog(element,'symbol')" class="!text-center" mat-cell *matCellDef="let element">{{element.symbol}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns"></tr>
    </table>
  </div>


</div>


